<html>
	
	<head>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	<body>
		<h3 class="popupTitle">Add a new note</h3>

		<!-- The preview: -->
		<div id="previewNote" class="note yellow" style="left:0;top:65px;z-index:1">
			<div class="body"></div>
			<span class="data"></span>
		</div>

		<div id="noteData"> <!-- Holds the form -->

			<form action="/postit" method="post">

				<div>
					<label for="note-body">Text of the note</label>
					<textarea name="message" id="note-body" class="pr-body" cols="30" rows="6" placeholder="Text"></textarea>
				</div>

				<div>
					<label for="note-name">Note name</label>
					<input type="text" name="name" id="note-name" class="pr-author" value="" placeholder="Title" />
				</div>
				<div>
					<label>Color</label> <!-- Clicking one of the divs changes the color of the preview -->

					<div class="color yellow"></div>
					<div class="color blue"></div>
					<div class="color green"></div>

				</div>
				<input type="submit" value="save"/>
			</form>
		</div>
	</body>
</html>